@if (showBackButton()) {
  <header 
    [class.absolute]="overlayMode()"
    [class.top-0]="overlayMode()"
    [class.left-0]="overlayMode()"
    [class.right-0]="overlayMode()"
    [class.justify-between]="layout() === 'space-between'"
    [class.justify-start]="layout() === 'left'"
    class="w-full flex items-center mb-6 lg:flex"
    [class.mb-0]="overlayMode()"
    [class.p-4]="overlayMode()"
    [class.z-10]="overlayMode()"
    [class.pointer-events-none]="overlayMode()">
    <div class="pointer-events-auto">
      <button 
        (click)="onGoBack()" 
        title="Back to App Selection" 
        [class.bg-opacity-80]="overlayMode()"
        class="bg-gray-700 hover:bg-gray-600 text-white p-3 rounded-full transition">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
    </div>
    
    @if (layout() === 'centered' && (title() || subtitle())) {
      <div class="text-center flex-1 pointer-events-auto">
        @if (title()) {
          <h1 class="text-4xl font-bold text-white tracking-tight">{{ title() }}</h1>
        }
        @if (subtitle()) {
          <p class="text-md text-gray-400 mt-1">{{ subtitle() }}</p>
        }
      </div>
      <div class="w-12 h-12"></div>
    } @else if (layout() === 'left' && (title() || subtitle())) {
      <div class="ml-4 pointer-events-auto">
        @if (title()) {
          <h2 class="text-2xl font-semibold text-white">{{ title() }}</h2>
        }
        @if (subtitle()) {
          <p class="text-sm text-gray-400 mt-1">{{ subtitle() }}</p>
        }
      </div>
    }
    
    <ng-content></ng-content>
  </header>
}

